/* Estilos base para toda la página */
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/* Media query para pantallas pequeñas (móviles) */
@media only screen and (max-width: 768px) {
    /* Modificar estilos para pantallas pequeñas */
    body {
        font-size: 14px;
    }
}

/* Media query para pantallas medianas y grandes (tablets y escritorio) */
@media only screen and (min-width: 769px) {
    /* Modificar estilos para pantallas medianas y grandes */
    body {
        font-size: 18px;
    }
}

   