
.form-control {
    height: 45px;
    font-size: 14px; 
    width: 300px;
    margin-left: 1500px;   
}
  
      ul, ol{
          list-style: none;
      }
      .nav li a {
        color:rgb(101, 11, 153);  
        background-color: #CAACDE;
        text-emphasis-color: white;
        font-family: "Poppins",sans-serif; 
      }
      .nav{ color: #0c0c0c; background-color: #CAACDE;

}
      .nav li a:hover {
          background-color: rgb(200, 255, 247), 243, 220;
          color: #F3DCEB;
          font-family: "Poppins",sans-serif;
          padding: 10px 15px;
          display: block;
      }
      .nav > li {
          float:left;
      }
      .nav li ul {
          display:none;
          position: absolute;
          min-width: 160px;
      }
      .nav li:hover > ul {
          display: block;
      }

      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }

   
    
    

      