:root{
    --color-fondo: #F3DCEB;
    --color-fondodos: #E4F3DC;
    --color-botones: #CCAFD4;
    --color-piespag: #CAACDE;
  }
  body{
    background-color: var(--color-fondodos);
    font-family: "Poppins";
    margin: 0;
    display: flex; /*nos permite que el footer quede abajo de todo*/
    flex-direction: column; /*para que la barra y el pie queden uno debajo del otro*/
    height: 100vh; /*la altura de la página al 100%*/
  }
  