@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #F3DCEB;
    text-align: center; 
    padding: 20px; 
}

.container{
    background-color: #E3F3DC ;
    display: flex;
    justify-content: space-between;
    grid: gap 20px;
    min-width: min-content;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center; 
}

.header {
    display: flex;
    align-items: center;
    min-height:  80vh;
    background-color: #a46ce0;
    padding: 70px 0;
}

.container div{
    width: 400px;
    text-align: center;
    padding: 30px;
}

img {
    position: relative;
    height: 300px;
    width: 300px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul il {
    position: relative;
    float: left;
}

.menu .navbar ul il a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

#menu {
    display: none;
}

#img-carrito {
    width: 25px;
    height: 25px;
}

.menu-icono {
    width: 25px;
    height: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

.navbar ul li {
    position: relative;
    float: left;
}

.navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

table {
    width: 100%;
}

th, td {
    color: #FFFFFF;
}

.borrar {
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: dashed #FFFFFF;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img {

}