:root {
    --color-fondodos: #F3DCEB;
    --color-fondo: #E4F3DC;
    --color-botones: #CCAFD4;
    --color-piespag: #CAACDE;
    --color-resaltar: #9CAC84;
    --color-hoover: #ECF1F3;
}

.container {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    display: flex;
    position: fixed;
}

.banner-first{
    width: 100%;
    height: 60%;
    background-image: url(./Assets/Banner.png);
    background-color: #CAACDE;
    background-size:contain;
    background-position: 50vh;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: fixed; 
    margin-top: 20vh;
}

.banner-textaline {
   padding: 10% 20%;
margin-left: 50px;
}

.banner-textaline .banner-text{
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.banner-textaline .banner-title{
    letter-spacing: 10px;
    font-size: 100px;
    color: white;
    font-family: Poppins;
}

#btn{
    width: 300px;
    height: 35px;
    margin-left: 12%;
    font-weight: bold;
    background-color: white;
    letter-spacing: 3px;
    font-size: large;
    color: #CAACDE;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#btn:hover {
    color: black;
    background-color: var(--color-fondodos);
    transition: all ease 0.3s;
}