body {
    background-color: #E3F3DC;
    justify-content: space-between;
    grid: gap 10px;
    min-width: min-content;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;

}

div {
    text-align: center;
    padding: 30px;
   
}

img {
    height: 250px;
    width: 200px;
}

nav {
    background-color: #CAACDE;
    padding: 45px;
}



