body {
    font-family: Poppins;
    background-color: #F3DCEB;
}

img {
    width: 100%;
    height: 350px;
}
.row{
    text-align: center;
}

#carouselUs {
    image-rendering: 50%;
}

button {
    color: black;
}