Body {
    font-family: "Poppins";
    font-size: 15px;
    background-color: #E3F3DC ;
    min-height: 100vh;
    text-align: center;
}
#img-1 {
    width: 50px; 
    height: auto; 
    padding: 3px;
}

#cont-bar {
    background-color: #caacde;
    margin: 0;
    padding: 0;
}
#cont-text {
    background-color:#E3F3DC ;
}
form {
    padding: 50px 50px;
    background-color: #f3dceb;
    text-align: left;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

