body {
    font-family: "Poppins";
    background-color: #e3f3dc;
    font-size: 20px;
}
/*Barra de navegación*/
.custom-navbar {
    background-color: #caacde;
    height: 80px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #f3dceb;
}

.navbar-toggler-icon {
    width: 50px;
    padding: 20px;
}

#btn-carrito {
    background-image: url("./Assents/carrito\ blanco.png");
}


