#productos-container {
    width: 500px;
    margin: auto; /*auto para que se centren los elementos*/
  
  }
  
  .tarjeta-producto {
    display: flex; /*para que queden uno de lado del otro*/
    gap: 10px; /*La distancia que tendrán de separación los elementos*/
    align-items: center; /*para centrar elementos*/
    border-style: dotted;
    border-width: 1px;
    height: 200px;
    margin: 10px;
    
  }

  
  
  .tarjeta-producto img { /*las imagenes dentro del contenedor tarjeta-producto*/
    height: 200px;
    width: 200px; /*para que las imagenes no tengan distinto tamaño, ocupen el mismo espacio*/
  }
  
  /*Para acomodar las letras*/
  .tarjeta-producto h3{
   width: 80px;
  }
  
  #totales {
    text-align: center;
  }

  #carrito-vacio{
    text-align:center;
  }