body {
    background-color: #E4F3DC;
}

.logotipo {
    margin-top: -170px; /* Seperación del navbar */
    margin-left: 70px; /*Derecha */
    width: 170px; /* Tamaño  de imagen*/
    display: flex;
}

.button_container {
    display: flex;
    justify-content: right;
    margin-right: 70px;
}

button{
    font-size: 25px;
    padding: 60px 60px;
    margin-top: 220px;
    background-color: white;
    color: #CAACDE; /*color de la letra */
    border: white; /*Color del borde */
    border-radius: 10px; /* Quitar lo cuadrado al borde */
    z-index: 3;
}